.metronome {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
}

.bpm-slider input {
    width: 100%;
    margin: 10px;
}

.metronome button {
    background: green;
    padding: 10px;
    border: 5px solid black;
    width: 100px;
    color: white;
    font-size: 20px;
}